<!DOCTYPE html>
<html>
<head>
  <title>Create</title>
</head>
<body>

    <h1> Add a New Message</h1>
    <form method="post" style="text-align: center;">
        <label for="title">TITLE</label>
        <br>
        <input type="text" name="title"
               placeholder="Message title"
               value=input>
        <br>

        <label for="content">MESSAGE CONTENT</label>
        <br>
        <textarea name="content"
                  placeholder="Message content"
                  rows="15"
                  cols="60"
                  ></textarea>
        <br>
        <button type="submit" class="button button1">Submit</button>
        
    </form>
    <a href="base.html" class="button button1">Home</a>
</body>
</html>


